.dashboard-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 5px;
    margin: 15px auto;
}

.dashboard-container header{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.dashboard-container header span{
    font:500 55px Roboto, sans-serif;
    margin-left: auto;
    margin-right:auto;
    color: #515158
}

.dashboard-container header img{
    height: 100px;
}

.dashboard-container header .button{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.dashboard-container header .button-refresh{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.dashboard-container header .button-refresh:hover{
    border-color: #999;
}

.dashboard-container ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.dashboard-container ul li{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.dashboard-container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414d;
 }